/* MAIN */
body{
    margin: 0;
    padding: 0;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
/* PLAY AT */
.ip-adress-container{
    background-color: #cc0000;
    text-align: center;
}
.ip-adress-play-at{
    font-family: "Avenir Next", sans-serif;
    display: inline-block;
    font-size: 40pt;
    color: white;
}
.ip-adress{
    font-family: "Avenir Next", sans-serif;
    display: inline-block;
    font-size: 40pt;
    color: #2e2e2e;
}
/* MENU LINK */
.menu-link{
    position: absolute;
    display: inline-block;
    font-family: "Avenir Next", sans-serif;
    font-size: 70pt;
    text-align: center;
    width: 100%;
}
.menu-link-icon{
    text-align: center;
    width: 10%;
    height: 100px;
    margin: auto;
    transition-duration: 1s;
    background-image: url('http://localhost/Redcraft/media/arrow.png');
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-link-icon:hover{
}
.arrow{
    width: 90px;
}
.menu-link-clickable{
    color: rgba(0,0,0,0);
}
/* MAIN TITLE */
.main-title{
    background-color: #2e2e2e;
    height: 150px;
}
.main-title-text{
    line-height: 200px;
    font-size: 80pt;
    font-family: "Adobe Naskh", sans-serif;
    color: #cc0000;
    padding-left: 20px;
    display: inline-block;
}
.title-image{
    height: 70px;
    line-height: 150px;
}
/* CONTENT */
.content{

}
.content-title{
    font-family: "Avenir Next", sans-serif;
    font-size: 100pt;
    text-align: center;
    padding: 20px;
}
/* PICTURES */
.picture-container{
    text-align: center;
}
.picture{
    text-align: center;
    margin: auto;
}
.picture-source{
    width: 80%;
    margin: 10px auto;
}
/* FOOTER */
.footer{
    background-color: #2e2e2e;
    height: 150px;
}
.copyright{
    font-family: "Avenir Next", sans-serif;
    font-size: 20pt;
    color: #FFFFFF;
    line-height: 150px;
    margin-left: 20px;
}
