/* MAIN */
body{
    margin: 0;
    padding: 0;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
/* PLAY AT */
.ip-adress-container{
    background-color: #cc0000;
    text-align: center;
    border-top: 1px solid #FFFFFF;
    border-bottom: 2px solid #2E2E2E;
    height: 80px;
    line-height: 80px;
}
.ip-adress-play-at{
    display: inline-block;
    font-family: "Avenir Next", sans-serif;
    font-size: 40pt;
    color: white;
}
.ip-adress{
    display: inline-block;
    font-family: "Avenir Next", sans-serif;
    font-size: 40pt;
    color: #2e2e2e;
}
/* MENU LINK */
.menu-link{
    position: absolute;
    display: inline-block;
    font-family: "Avenir Next", sans-serif;
    font-size: 70pt;
    text-align: center;
    width: 100%;
}
.menu-link-icon{
    text-align: center;
    width: 10%;
    height: 100px;
    margin: auto;
    background-image: url('http://localhost/Redcraft/media/arrow.png');
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-link-icon:hover{
}
.arrow{
    width: 90px;
}
.menu-link-clickable{
    color: rgba(0,0,0,0);
}
/* MAIN TITLE */
.main-title{
    background-color: #2e2e2e;
    height: 150px;
}
.main-title-text{
    line-height: 200px;
    font-size: 80pt;
    font-family: "Adobe Naskh", sans-serif;
    color: #cc0000;
    padding-left: 20px;
    display: inline-block;
}
.title-image{
    height: 70px;
    line-height: 150px;
}
/* CONTENT */
.content{

}
.content-title{
    font-family: "Avenir Next", sans-serif;
    font-size: 100pt;
    text-align: center;
    padding: 20px;
}
/* FORM */
.tournaments-form-container{
}
.tournaments-form{
    margin: 20px auto 60px auto;
    background-color: #6e6e6e;
    text-align: center;
    font-family: "Avenir Next", sans-serif;
    font-size: 20pt;
    padding: 30px;
    width: 70%;
}
.tournaments-form-input{
    font-family: "Avenir Next", sans-serif;
    font-size: 20pt;
    float: right;
}
.tournaments-form-label{
    float: left;
    color: #FFFFFF;
}
.tournaments-form-submit{
    width: 150px;
    height: 50px;
    font-family: "Avenir Next", sans-serif;
    font-size: 20pt;
}
/* FOOTER */
.footer{
    background-color: #2e2e2e;
    height: 100px;
}
.copyright{
    font-family: "Avenir Next", sans-serif;
    font-size: 20pt;
    color: #FFFFFF;
    line-height: 100px;
    margin-left: 20px;
}
